//Fonts
$font: 'Museo Sans Rounded 300', sans-serif;

//Colors
$main-blue-color: #5ac0cf;
$border-color-blue: #26bdb9;
$light-grey: #f1f2f5;
$white: #fff;


// Dimensions
$button-default-height: 40px;
$button-radius: 2px;
$regular-font-size: 1.6rem;
$header-height: 80px;
$logo-height: 30px;
// $headerHeight: 60px;
// $sidebarWidth: 200px;