//Fonts
$font: 'AvenirWeb', 'Avenir', sans-serif;

//Colors
$purple: #5D5E73;
$dark-purple: #39394A;
$blue: #D8D8ED;
$grey: #f1f1f1;
$dark-grey: #444;
$red: #FC0D1B;

// Dimensions
$headerHeight: 60px;
$sidebarWidth: 200px;