.top-nav{
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        float: left;
    }
    &__right {
        float: right;
    }

    &__logo {
        // height: $logo-height;
        img {
            height: auto;
            width: 150px;
        }
    }
    &__item {
        display: inline-block;
        position: relative;
        a {
            display: inline-block;
            padding: 15px;
        }
    }
    &__button {
        display: inline-block;
        padding-right: 0;
        position: relative;
    }
}